#ignore local data
processed_data/
data/

#ignore parquet
*.parquet

#mac os system files
.DS_Store

#ipynb checkpoints
.ipynb_checkpoints/


#exceptions: sample data
!data_samples/**

# Python cache
__pycache__/
*.pyc
*/__pycache__/
src/__pycache__/

